{% extends 'base.html' %}
{% block basic_block %}
    {% if request.user == comment.user or request.user == comment.video.user  %}

	 <h1>Delete Comment</h1>
        <p>Are you sure you want to delete the Comment "{{ comment.body }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a href="{% url 'person:viewvideo'   pk=comment.user.id  video_id=comment.video.id action_type=' ' %}"
               class="btn btn-secondary">Cancel</a>
        </form>
{% endif %}
{% endblock %}