{%  extends 'base.html' %}
{%  block basic_block %}
    {% if image.user == request.user  %}


     <div class="container mt-5">
        <h1>Delete Post</h1>
        <p>Are you sure you want to delete the post "{{ image.title }}"?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a href="{% url 'person:follow_unfollow_user' image.user.username ' ' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
    {% endif %}
{%  endblock %}