{%  extends 'base.html' %}
{%  block basic_block %}
     <div class="container mt-5">
        <h1>Delete Post</h1>
             {% if blog.created_by == request.user %}

        <p>Are you sure you want to delete the post "{{ blog.title }}"?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Confirm Delete</button>
            <a href="{% url 'person:follow_unfollow_user' blog.created_by.username ' ' %}" class="btn btn-secondary">Cancel</a>
        </form>
         {%  endif %}

    </div>
{%  endblock %}