{% extends 'search.html' %}
{#{%  block searches %}#}
{#    <style>#}
{#    .btn{#}
{#        margin: 3px;#}
{#        border-radius: 10px;#}
{#    }#}
{#    </style>#}
{#<div>#}
{##}
{#{% for category in categories %}#}
{#      <form action="{% url 'person:search'%}" method="get" style="float:right">#}
{#        <input type="text" class="form-control" id="search" name="search" value="{{ category }}" style="width: 0px;height: 0" hidden>#}
{#        <button class="btn btn-dark btn-sm"  type="submit">{{ category.name }}</button>#}
{#    </form>#}
{##}
{#{% endfor %}#}
{#</div>#}
{##}
{#{% endblock %}#}