{% extends 'base.html' %}
{% block basic_block %}
    <style>
    input{
        border-radius: 20px;
        border-color: #c4c4c4;
        border-width: 0.5px;
        margin: 5px 20px;
        background-color: #e3e2e2;
        font-family: 'Poppins','sans-serif';
        font-size: 14px;
        padding: 7px 5px;
    }
    label{
        margin: 0 20px;
        font-size: 10px;
        display: block;

    }
    input:hover{
                background-color: #f3f3f3;

    }
    </style>
<form method="post" enctype="multipart/form-data">
<label>TikTok Account Username:</label>
<input name="username" >
<button class="btn btn-dark">Get Videos</button>
</form>
{% endblock %}