.env
settings.py
# Images
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.webp
*.bmp
*.tiff
*.jfif
# Video
*.mp4
*.mov
*.avi
*.mkv
*.wmv
*.flv

# Audio
*.mp3
*.wav
*.flac
*.m4a
*.aac
*.ogg
**/__pycache__/
staticfiles/
static/
venv/
.ipynb_checkpoints/
**/.ipynb_checkpoints/
db.sqlite3
*.sqlite3
mydatabase

__pycache__/
*.py[cod]
.venv/

# Django
staticfiles/

# Jupyter
**/.ipynb_checkpoints/

# SQLite
db.sqlite3
*.sqlite3
mydatabase

# Uploads/media
media/
uploads/

# Editor/system
.DS_Store
Thumbs.db
.vscode/
.idea/

# Jupyter Notebook checkpoints
**/.ipynb_checkpoints/

# Optional: actual notebook files
*.ipynb