.env
settings.py
# Images
*.jpg
*.jpeg
*.png
*.gif
*.svg
*.webp
*.bmp
*.tiff
*.jfif
# Video
*.mp4
*.mov
*.avi
*.mkv
*.wmv
*.flv

# Audio
*.mp3
*.wav
*.flac
*.m4a
*.aac
*.ogg
**/__pycache__/
staticfiles/
static/