{%  extends 'base.html' %}
{% load static %}
{% block basic_block %}
    <style>
    .user_message {



    min-width: 350px;
    padding: 10px 20px 10px 0;
    margin: 10px 0 20px 150px;
    color: #070707;
    font-family: "Roboto", sans-serif;
    display:flex;
    width: min-content;
        border-right-style: solid;
  border-color: #7f4646;
        justify-content: end;

}

.reciver_message {
    width: fit-content;
    min-width: 350px;
    padding: 7px;
    margin: 5px 0 5px 0;
    color: black;
    font-family: "Roboto", sans-serif;
     border-left-style: solid;
    border-color: black;
}

.form {
    {#margin-left: 10%;#}
    padding: 10px;
     margin: 5px 0 5px 10px;
}

.form textarea {
    width: 300px;
    resize: none;
}

#title {
         margin: 10px 20px;

}

.user_pic {
    width: 40px;
    height: 40px;
    margin: 0 0 -80px -45px;
    border-radius: 50%;
}

#chat-log {
    margin-left: 80px;
    max-height: 700px;
    overflow-y: scroll;
    {#max-width: 600px;#}
}

.lrg-con {
    margin-bottom: 10px;
}
    </style>
	<h4 id="title"> Send a message to {{ chatroom.name}} </h4>
    <div id="chat-log">
    {% for message in all_messages %}

        {% if message.sender == user and message.user == user and message.recipient == user %}

            {% if recipient_profile %}
                 <img src="/media/" class="user_pic" >
            {% endif %}

              <div class="user_message">
                    <p>{{ message.body | safe}}</p>
           </div>
        {% elif message.recipient == user and message.user == user %}
            <div class="reciver_message">
                <p>{{ message.body| safe }}</p>
            </div>

        {% endif %}

    {% endfor %}
    </div>

     <form  class='form' id="message-form">
        {% csrf_token %}
        <textarea name="body"  id="message-input"></textarea>
        <button type="submit" class="btn btn-dark" id="send-button">Send</button>
    </form>
    {% if request.user == chatroom.created_by %}
        <a href="{% url 'chat:updatechatroom' chatroom.pk %}">update</a>

    {% endif %}



<script>
    // Establish WebSocket connection
    const chatSocket = new WebSocket(
        'ws://' + window.location.host + '/ws/chat_room/{{ group_chat.id }}/'
    );

    // Event listener for receiving messages
    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const chatLog = document.querySelector('#chat-log');

        const messageElement = document.createElement('div');
        messageElement.className = data.sender === '{{ user }}' ?  'user_message': 'reciver_message';
        messageElement.innerHTML = '<p>' + data.message ;
        chatLog.appendChild(messageElement);

            // Scroll to the bottom of the chat log
            chatLog.scrollTop = chatLog.scrollHeight;


        appendMessage(data.message, data.sender);
    };

    // Event listener for WebSocket closure
    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    // Event listener for form submission to send a message
    document.querySelector('#message-form').onsubmit = function (e) {
        e.preventDefault();
        const message = tinymce.get('message-input').getContent();  // Get the TinyMCE content
        chatSocket.send(JSON.stringify({
            'message': message,
        }));
        tinymce.get('message-input').resetContent();
    };
</script>
    <script>
    tinymce.init({
        skin: 'borderless',
        icons: 'small',
        selector: "#message-input",
        menubar: false,
        toolbar_location: "bottom",
        plugins: "autoresize link lists emoticons image media",
        autoresize_bottom_margin: 0,
        max_height: 500,
        width: 600,
        placeholder: "Enter message . . .",
        toolbar: "bold italic strikethrough link numlist bullist emoticons image media",
        setup: function (editor) {
            editor.ui.registry.addButton("send", {
                tooltip: "Send Message",
                text: "Send",
                onAction: function () {
                    const message = editor.getContent();
                    chatSocket.send(JSON.stringify({
                        'message': message,
                    }));
                    editor.resetContent();
                },
            });

            document.getElementById("send-button").addEventListener("click", function (e) {
                e.preventDefault();
                const message = editor.getContent();
                chatSocket.send(JSON.stringify({
                    'message': message,
                }));
                editor.resetContent();  // Clear the TinyMCE editor after sending
            });
        },
         file_picker_callback: function (cb, value, meta) {
        var input = document.createElement("input");
        input.setAttribute("type", "file");
        if (meta.filetype == "image") {
            input.setAttribute("accept", "image/*");}
        if (meta.filetype == "media") {
        input.setAttribute("accept", "video/*");}

        input.onchange = function () {
            var file = this.files[0];
            var reader = new FileReader();
            reader.onload = function () {
                var id = "blobid" + (new Date()).getTime();
                var blobCache =  tinymce.activeEditor.editorUpload.blobCache;
                var base64 = reader.result.split(",")[1];
                var blobInfo = blobCache.create(id, file, base64);
                blobCache.add(blobInfo);
               cb(blobInfo.blobUri(), { title: file.name });
             };
             reader.readAsDataURL(file);
         };
         input.click();
      },
        automatic_uploads: true,
    });
</script>
<script src="{% static 'js/uploader.js' %}"></script>

{% endblock %}